@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

.nav-item {
    text-decoration: none;
    color: black;
    padding: 5px;
    transition: 0.3s;
    border-radius: 6px;
    font-family:'roboto' ;
}

.nav-item:hover {
    background-color: rgba(15, 111, 255, 0.815);
    color: white;
}



.nav-title {
    text-decoration: none;
    color: black;
    font-family:'Lato' ;
    font-size: 20px;
    font-weight: 600;
    padding-bottom: 1vh;
    padding-inline: 0.7rem;
    transition: 0.3s;
}

.nav-title:hover {
  color: black;
    border: 0.15rem solid black;
    box-shadow: 3px 3px tomato, 6px 6px #1c87c9;
    background-color: white;
  
}

.admin-item {
    padding: 10px;
    color: white;
    transition: 0.3s;
    text-decoration: none;
}
.admin-item:hover {
    background-color: white;
    color: black;

}

.glass{
   background-color: #ffffff
}

.navbar__link {
    margin: 10px;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
    text-decoration: none;
    letter-spacing: .3em;
    text-indent: .3em;
    color: #181818;
    border-bottom: 3px solid transparent;
    transition: 0.2s;
  }
  
  .navbar__link:hover {
    color: black;
    border: 0.15rem solid black;
    box-shadow: 3px 3px tomato, 6px 6px #1c87c9;
    padding: 3px;
    background-color: white;
  }

.navbar__link--active {
    color: #181818;
    border-bottom: 3px solid #29b6f6;
    transition: border-bottom .5s ease-in-out;
  }

  @media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="nav-title"] {
      font-size: 16px;
    }
  }

.dropdown {
  font-size: 15px;
  font-family: 'Roboto', sans-serif;
  cursor: pointer;
  text-decoration: none;
  letter-spacing: .3em;
  text-indent: .3em;
  color: #000000;
  border-bottom: 3px solid transparent;
  transition: 0.2s;
  position: relative;
  padding: 0px;
  border-radius: 0px;
  margin-block: 0.2vw;
  margin-inline: 1.5vh;
}


.dropdown:hover {
  background-color: #fff;
  color: black;
    border: 0.15rem solid black;
    box-shadow: 3px 3px tomato, 6px 6px #1c87c9;
    padding: 0px;
}